/Brain.Intepreter/Brain.Intepreter.Console/bin
/Brain.Intepreter/Brain.Intepreter.Console/obj
/Brain.Intepreter/Brain.Intepreter.Console.Tests/bin
/Brain.Intepreter/Brain.Intepreter.Console.Tests/obj
/Brain.Intepreter/.idea
